* {
	font-size: 18px;
}

.header {
	margin-top: 20px;
}

.item {
	display: inline-block;
}

.clicker {
	margin: 5px;
}

img {
	margin: 5px;
}

body {
	background-image: url(../images/soda-pop.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment:fixed; 
}
p {
    margin: 5px;
    color:red;
    font-size: 10;
    font-weight: bolder
}
